# Connect to Supabase via connection pooling with Supavisor.
# Supabase Dashboard -> Project Settings -> Database -> Connection string (URI) -> Transaction Mode
DATABASE_URL="postgresql://postgres.[PROJE_ID]:[SIFRE]@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations.
# Supabase Dashboard -> Project Settings -> Database -> Connection string (URI) -> Session Mode
DIRECT_URL="postgresql://postgres.[PROJE_ID]:[SIFRE]@aws-0-eu-central-1.pooler.supabase.com:5432/postgres"

# Supabase Client Credentials
# Supabase Dashboard -> Project Settings -> API
NEXT_PUBLIC_SUPABASE_URL="https://[PROJE_ID].supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-anon-key-here"
ADMIN_PASSWORD="your-admin-password"
